.footer {
	color: white;
	background-color: #7b5ee4;
	display: flex;

	.left {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 20px;

		.logo {
		}

		.desc {
			margin: 20px 0;
		}

		.socialContainer {
			display: flex;
		}

		.socialIcon {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.title {
		margin-bottom: 30px;
	}

	.center {
		flex: 1;
		padding: 20px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
		}

		li {
			width: 50%;
			margin-bottom: 10px;
		}
	}

	.right {
		flex: 1;
		padding: 20px;

		.contactItem {
			margin-bottom: 20px;
			display: flex;
			align-items: center;

			.icon {
				margin-right: 10px;
			}
		}

		.payment {
			width: 50%;
		}
	}
}
