.app.dark {
	background-color: #222;
	color: rgb(156, 156, 156);

	.navbar {
		color: #999;
		border-color: #333;

		.search {
			border-color: #555;
		}
	}

	.sidebar {
		border-color: #333;
		background-color: #222;

		.top {
			.logo {
				color: #999;
			}
		}

		hr {
			border-color: #333;
		}

		ul {
			li {
				&:hover {
					background-color: #333;
				}

				.icon {
					color: #999;
				}
			}
		}

		.bottom {
			.colorOption {
				border: #eee;
			}
		}
	}

	.datatable {
		.datagrid {
			color: gray;
			border: none;

			.editButton,
			.deleteButton {
				color: gray;
				border: none;
			}
		}
	}

	.editForm {
		.button {
			button {
				background-color: rgb(63, 63, 63);
				border: none;
				color: rgb(177, 177, 177);

				&:hover {
					border: 2px solid rgb(182, 182, 182);
				}
			}
		}
	}
}
